Standard Python libs:
Math
OS
datetime
tkinter

Data processing:
numpy
pandas

NN libs:
torch
    nn
    optim
    utils.data
    TensorDataset
    DataLoader

scikit-learn
    preprocessing.StandardScaler
scikit-optimize (skopt)
    gp_minimize
    Integer
    Real

Finance data:
yfinance

